.search-container {
  display: flex;
  flex-direction: column;
  // border: 1px solid red;
}

.search-bar:focus {
  outline: none;
}

.search-filters{
  height: 64px;
  width: 100%;
  border-bottom: 1px solid $light-grey;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
  background-color: white;
  position: fixed;
  top: 80px;
  z-index: 4;

  button {
    // margin: 10px;
    // height: 25px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid $light-grey;
    font-size: 14px;
    line-height: 18px;
    color: #484848;
    padding: 6px 12px 6px 12px;
    margin: 0px 10px 0px 10px;
    position: relative;
    text-align: center;
  }

  button:hover {
    background-color: #dce0e0;
  }
}

.search-results{
  // padding: 3%;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: row;
  // padding-top: 3%;
  position: relative;
  top: 0px;

}

.search-homes-index {
  width: 63%;
  margin: 0 auto;
  // border: 1px solid red;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  color: rgb(72, 72, 72);
}

.search-homes-map {
  width: 30%;
  // border: 1px solid red;
  padding: 20px 20px 20px 0px;
  position: sticky;
  top: 140px;
  height: 400px;
}
