.search-container {
  display: flex;
  flex-direction: column;
  // border: 1px solid red;
}

.search-bar:focus {
  outline: none;
}

.search-filters{
  height: 64px;
  width: 100%;
  border-bottom: 1px solid $light-grey;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3%;
  background-color: white;
  position: fixed;
  top: 80px;
  z-index: 4;

  .clicked-green {
    background-color: $teal-green !important;
    color: white !important;
  }

  .filter-btn {
    background-color: white;
    border-radius: 4px;
    border: 1px solid $light-grey;
    font-size: 14px;
    line-height: 18px;
    color: #484848;
    padding: 6px 12px 6px 12px;
    margin: 0px 10px 0px 10px;
    position: relative;
    text-align: center;
  }

  .filter-btn:hover {
    background-color: #dce0e0;
  }

  .filter-modal {
    position: absolute;
    border: 2px solid $light-grey;
    border-radius: 4px;
    top: 48px;
    left: 0;
    // height: 250px;
    // width: 350px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 36px 2px !important;
    padding: 24px;
    background: white;
    color: black;

    .guest-filter-div{
      width: 300px;
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .guest-filter-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100px;

        .filter-button{
          height: 30px;
          width: 30px;
          border: 1px solid $teal-green;
          border-radius: 50%;
          font-size: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $teal-green
        }
      }
    }

    .home-type-filter-div{
      width: 450px;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      .home-type-checkbox{
        width: 10%;
        height: 100%;
        margin-top: 15px;
        display:flex;
        justify-content: center;
        align-items: flex-start;
        // padding-top: 10px;

        input{
          height: 20px;
          width: 20px;
        }

        // .custom-checkbox {
        // 	-webkit-appearance: none;
        // 	background-color: #fafafa;
        // 	border: 1px solid #cacece;
        // 	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
        // 	padding: 9px;
        // 	border-radius: 3px;
        // 	display: inline-block;
        // 	position: relative;
        // }
        //
        // .custome-checkbox:active, .custome-checkbox:checked:active {
        // 	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
        // }
        //
        // .custome-checkbox:checked {
        // 	background-color: #e9ecee;
        // 	border: 1px solid #adb8c0;
        // 	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
        // 	color: #99a1a7;
        // }
      }

      .choice {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;

        h3 {
          color: $grey2;
          margin: 10px 10px 5px 10px;
          font-size: 20px;
          line-height: 22px !important;
          font-weight: 400;
          font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
        }

        h4{
          color: $grey2;
          margin: 0px 10px 10px 10px;
          font-size: 16px;
          line-height: 22px !important;
          font-weight: 400;
          font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
        }
      }

    }

    .filter-nav{
      width: 100%;
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

}

.no-bottom-border{
  border-bottom: none;
}
.white-out{
  position: fixed;
  background-color: white;
  top: 130px;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
  z-index: 3;
}

.hidden { display: none}

.search-results{
  // padding: 3%;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: row;
  // padding-top: 3%;
  position: relative;
  top: 0px;

}

.search-homes-index {
  width: 63%;
  margin: 0 auto;
  // border: 1px solid red;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  color: rgb(72, 72, 72);
}

.search-homes-map {
  width: 30%;
  // border: 1px solid red;
  padding: 20px 20px 20px 0px;
  position: sticky;
  top: 140px;
  height: 400px;
}
