.search-div{
  width: 35%;
  margin-left: 30px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .search-bar-div {
    position: relative;
    height: 50px;
    top: 10%;
    display: flex;
    flex-direction: column;
  }

  .search-bar-form{
    // height: 45px;
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 4px 6px 0px $light-grey;
    border: 1px solid $light-grey;
    border-radius: 4px;
    padding: 0px 10px 0px 10px;

    .icon{
      font-size: 24px;
    }

    .hidden { display: none}
  }

  .search-bar {
    height: 40px;
    width: 100%;
    border: none;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
  }

  .search-results-header{
    margin-left: 25px;
  }

  .search-results {
    width: 100%;
    height: auto;
    background-color: white;
    border: 1px solid $light-grey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    // z-index: 10;
    position: absolute;
    top: 94%;
    left: 0;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;

    .search-item{
      width: 100%;
      height: 50px;
      font-size: 16px;
      background-color: white;
      h2 {
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: normal;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
        color: $grey2;
        padding: 0;

      }
      .icon{
        margin: 0px 15px 0px 25px;
      }
    }

    .search-item:hover{
      background-color: $light-grey;
    }
  }
}
