.form-container {
  display: flex;
  height: 1000px;
  width: 100%;
  padding-left: 10%;
}

.home-form {
 width: 35%;
 padding: 5%;
 display: flex;
 flex-direction: column;
 border: 1px solid blue;

 * {
   border: 1px solid red;
   font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
   margin: 20px 0px 20px 0px;
   color: rgb(72, 72, 72);
 }

 h1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 800;
  overflow-wrap: break-word
 }

 h4{
   color: #767676;
   font-size: 14px;
 }

 h2{
   color: #767676;
   font-size: 19px;
   font-weight: 500;
 }

 .current-options{
  display: flex;
  justify-content: space-around;
 }

 .chosen-fields{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 16px;

   select{
     width: 100%;
     height: 30px;
     font-size: 16px;
     font-weight: normal;
     padding: 5px;
     border-radius: 1px;
     border: 1px solid #f2f2f2;
   }
 }

 input{
   width: 30%;
   height: 30px;
   font-size: 16px;
   font-weight: normal;
   padding: 5px;
   border-radius: 1px;
   border: 1px solid #f2f2f2;
 }
}

.form-image{
  width: 45%;
  height: 1000px;
  background-color: black;
  display: flex
}
