.bookings-index-container {
  background-color: white;
  margin-top: 80px;
}

.bookings-index-list {
  width: 70%;
  height: 900px;
  margin: 0 auto;
}

.bookings-index-item {
  border: 1px solid $light-grey;
  border-radius: 5px;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
  text-decoration: none;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;

  .bookings-index-info {
    width: 70%;
    height: 300px;
    padding: 0% 5%;
    color: $grey;

    .bookings-index-header {
      font-size: 36px;
    }
  }

  .bookings-index-sub-header{
    display: flex;
    flex-direction: row;
    justify-content:  flex-start;
    align-items: center;
    margin: 10px 0px;
    color: $grey;
    text-decoration: none;

    span {
      margin-left: 10px;
    }
  }

  .dates-traveling {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    // border: 1px solid red;

    .date {
      height: 100%;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // border: 1px solid blue;

      .date-header {
        font-weight: bold;
        font-size: 18px;
        color: $grey;
      }

      .date-sub-header {
        font-weight: bold;
        font-size: 11px;
        color: $grey;
      }
    }

    .fas {
      font-size: 40px;
      margin: 0px 40px;
    }

    .booking-arrival{

    }
  }

  .line-break{
    border-bottom: 1px solid $light-grey;
    margin: 20px 0px;
  }

  img {
    width: 30%;
    height: 300px;
  }

  .booking-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-weight: 400;

    div {
      width: auto;
      height: 90px;
    }

    .far {
      margin-right: 10px;
      font-size: 30px;
      font-weight: 400;
    }
  }

  .booking-options:hover{
    cursor: pointer;
  }
}
